{% extends 'base.html' %}
{% block title %}Model Performance - Image Classification Project{% endblock %}
{% block extra_css %}

{% endblock %}

{% block content %}
    <header class="text-center">
        <h1>Model Performance</h1>
    </header>
    <section class="text-center">
        <!-- Added a div to wrap the form for styling adjustments -->
        <div class="model-performance-form">
            <form class="form-inline" method="post" action="{% url 'model_performance' %}">
    {% csrf_token %}
    <label for="model_choice" class="mr-2 text-white">Choose Model:</label>
    <select name="model_choice" class="form-control mr-2" required>
        <option value="simple_ann" selected>Simple Artificial Neural Network(ANN)</option>
        <option value="cnn">Convolutional Neural Network(CNN)</option>
        <option value="vgg_cnn">VGG Net)</option>
        <option value="simple_rnn">Simple Recurrent Neural Network(RNN)</option>
        <option value="gru">Gated Recurrent Unit (GRU)</option>
        <option value="lstm">Long Short-Term Memory (LSTM)</option>
        <option value="birnn">Bidirectional RNN (BiRNN)</option>
        <!-- Add other predefined models as needed -->
    </select>
    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Check Model Performance</button>
</form>

        </div>
    </section>
{% endblock %}