<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">DeepLearning</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'test_model' %}">Test Model</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'model_summary' %}">Model Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'model_performance' %}">Model Performance</a>
            </li>
        </ul>
    </div>
</nav>


